<div class="flex flex-col justify-center">
  <div
    *ngIf="products.length > 0"
    class="grid gap-x-5 gap-y-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  >
    <div *ngFor="let product of products">
      <app-card [product]="product"></app-card>
    </div>
  </div>

  <!-- easily digestable information -->
  <div
    *ngIf="products.length === 0"
    class="w-full flex flex-col justify-center items-center"
  >
    <div ngClass="max-w-[25%]">
      <div>
        <img
          src="https://cdn.discordapp.com/attachments/1039200091124289616/1044742458698891294/c45efd_7b3815abee1548e1ab36b958471aa0ae_mv2.png"
          alt="wow so empty meme"
          class="animate-[spin_4s_linear_infinite]"
        />
      </div>
    </div>
    <p class="text-white text-xl pt-5">nothing is here...</p>
  </div>
</div>
