<div>
  <div class="dropdown inline-block relative z-30">
    <button
      class="hover:scale-110 px-3 py-1 rounded-lg text-white text-xl hover:shadow-lg hover:shadow-yellow-400 hover:text-yellow-400 duration-500 active:shadow-none active:bg-yellow-400 active:text-white active:scale-75 inline-flex items-center bg-yellow-700 hover:bg-red-700"
      (click)="getProductTypes(type)"
    >
      <span class="mr-1">{{ type }}</span>
      <svg
        class="fill-current h-4 w-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
        />
      </svg>
    </button>
    <ul class="dropdown-menu absolute hidden text-slate-700 pt-1">
      <li *ngFor="let subtype of subtypes">
        <div
          class="px-3 py-1 rounded-lg text-white text-xl hover:shadow-lg hover:shadow-yellow-400 hover:text-yellow-400 duration-500 active:shadow-none active:bg-yellow-400 active:text-white active:scale-75 items-center bg-yellow-900 hover:bg-red-900 block whitespace-no-wrap hover:scale-110"
          (click)="getProductSubTypes(type, subtype)"
        >
          {{ subtype }}
        </div>
      </li>
    </ul>
  </div>
</div>
