<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row gap-3 p-2">
    <app-dropdown-button
      [type]="types.type.sword"
      [subtypes]="types.subtypes.sword"
    ></app-dropdown-button>
    <app-dropdown-button
      [type]="types.type.armour"
      [subtypes]="types.subtypes.armour"
    > </app-dropdown-button>
    <app-dropdown-button
    [type]="types.type.shield"
    [subtypes]="types.subtypes.shield"
    ></app-dropdown-button>
    <app-dropdown-button
      [type]="types.type.potion"
      [subtypes]="types.subtypes.potion"
    ></app-dropdown-button>
    <app-dropdown-button
      [type]="types.type.travel"
      [subtypes]="types.subtypes.travel"
    ></app-dropdown-button>
  </div>
  <div></div>
</div>

