<div class="sidenav">
      <button class="dropdown-btn flex flex-col shadow-lg gap-2 font-semibold">Weapons 
      </button>
      <div class="dropdown-container flex flex-col gap-1 hidden">
        <a href="#">Longsword</a>
        <a href="#">Shortsword</a>
        <a href="#">Rapier</a>
        <a href="#">Dagger</a>
      </div>
      <button class="dropdown-btn flex flex-col shadow-lg gap-2 font-semibold">Armour 
      </button>
      <div class="dropdown-container flex flex-col gap-1 hidden">
        <a href="#">Heavy Armour</a>
        <a href="#">Medium Armour</a>
        <a href="#">Light Armour</a>
        <a href="#">Magical Robes</a>
      </div>
      <button class="dropdown-btn flex flex-col shadow-lg gap-2 font-semibold">Potions 
      </button>
      <div class="dropdown-container flex flex-col gap-1 hidden">
        <a href="#">Health Potions</a>
        <a href="#">Utility Potions</a>
      </div>
      <button class="dropdown-btn flex flex-col shadow-lg gap-2 font-semibold">Misc 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container flex flex-col gap-1 hidden">
        <a href="#">Traveling Gear</a>
        <a href="#">Clothing</a>
        <a href="#">Food</a>
        <a href="#">Furniture</a>
      </div>
</div>
    