<div class="container d-flex align-items-center justify-content-center flex-wrap">
  <div class="box">
      <div class="body">
          <div class="imgContainer">
              <img src="https://cdnb.artstation.com/p/assets/images/images/021/074/791/large/anirban-sonar-sword1.jpg?1570296049" alt="">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>
                  <h3 class="text-white fs-5">Rune Longword</h3>
                  <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
              </div>
          </div>
      </div>
  </div>
  <div class="box">
      <div class="body">
          <div class="imgContainer">
              <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5a270ec3-3836-4dbb-89d4-08f067898a2c/d5d19ld-0a0d494d-becf-4c1d-a5af-a019bd323278.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVhMjcwZWMzLTM4MzYtNGRiYi04OWQ0LTA4ZjA2Nzg5OGEyY1wvZDVkMTlsZC0wYTBkNDk0ZC1iZWNmLTRjMWQtYTVhZi1hMDE5YmQzMjMyNzguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PYCJ_49MsSMmIFVkGzHe7vtIq8VHEnsg4KcLncCUNlg" alt="">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>
                  <h3 class="text-white fs-5">Rule Breaker Dagger</h3>
                  <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
              </div>
          </div>
      </div>
  </div>
  <div class="box">
      <div class="body">
          <div class="imgContainer">
              <img src="https://cdnb.artstation.com/p/assets/images/images/014/514/701/large/kris-burns-asset.jpg?1544285240" alt="">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>
                  <h3 class="text-white fs-5">Have-At-Thee Rapier</h3>
                  <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
              </div>
          </div>
      </div>
  </div>
  <div class="box">
    <div class="body">
        <div class="imgContainer">
            <img src="https://i.pinimg.com/originals/ff/73/01/ff73017a7a9711ff6e40db7b4ac020e8.jpg" alt="">
        </div>
        <div class="content d-flex flex-column align-items-center justify-content-center">
            <div>
                <h3 class="text-white fs-5">Muramasa Katana</h3>
                <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
            </div>
        </div>
    </div>
  </div>
</div>