<div
  class="container d-flex align-items-center justify-content-center flex-wrap"
>
  <div class="box">
    <div class="body">
      <div
        [ngClass]="
          'imgContainer border-2 ' +
          (product?.rarity === 'Rare'
            ? 'border-yellow-400'
            : 'border-slate-700')
        "
      >
        <img *ngIf="product" src="{{ product.image }} " alt="" />
        <!-- Put background image within p to give bacground image to text -->
        <p
          [ngClass]="
            'absolute right-2 bottom-2 font-bold text-2xl ' +
            (product?.rarity === 'Rare' ? 'text-yellow-400' : 'text-slate-700')
          "
        >
          {{ product?.name }}
        </p>
      </div>
      <!-- Put background image within below div for background of the back of the card -->
      <div
        class="content d-flex flex-column align-items-center justify-content-center"
        style="background-image: url(https://cdn.discordapp.com/attachments/1039200091124289616/1043259553615200277/image.png);
        object-fit: cover;
        background-position: center;"
      >
      <!-- Put background image within below div for background for text on the back of the card  -->
        <div
          [ngClass]="
            'flex flex-col gap-y-4 bg-gradient-to-r ' +
            (product?.rarity === 'Rare' ? 'from-yellow-200' : 'from-gray-100') +
            ' to-white'
          "
          style="background-image: url(https://i.pinimg.com/originals/40/31/ef/4031ef5e4b16801440a2abb4a7e67afb.jpg);
          object-fit: cover;
          background-position: center;"
        >
        <!-- Put background image in h3 to give background to price -->
          <h3
            [ngClass]="
              'fs-5 font-semibold' +
              (product?.rarity === 'Rare'
                ? 'text-yellow-400'
                : 'text-slate-700')
            "
          >
            {{ product?.price }}
          </h3>
          <p class="fs-6">{{ product?.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
