<div class="p-4">
  <div class="flex justify-center items-center rounded-lg py-4 text-xl">
    <div class="flex flex-col gap-4 border py-10 px-16 rounded-lg bg-white">
      <!-- Email input -->
      <div class="flex flex-col gap-1">
        <label class="form-label" for="form2Example1">Username</label>
        <input
          type="email"
          [(ngModel)]="username"
          class="border rounded-lg px-2 py-1 focus:shadow-lg outline-none"
          placeholder="user123"
        />
      </div>

      <!-- Password input -->
      <div class="flex flex-col gap-1">
        <label class="form-label" for="form2Example2">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          class="border rounded-lg px-2 py-1 focus:shadow-lg outline-none"
          placeholder="userppppttt"
        />
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row">
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button
        type="button"
        class="hover:scale-110 px-3 py-1 rounded-lg text-white text-xl hover:shadow-lg hover:shadow-yellow-400 hover:text-yellow-400 duration-500 active:shadow-none active:bg-yellow-400 active:text-white active:scale-75 bg-yellow-700 hover:bg-red-700"
        (click)="signInUser()"
        routerLink="/"
      >
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>
</div>
