/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://cdn.discordapp.com/attachments/1039200091124289616/1044344903775309964/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
