<div class="p-4">
  <div
    class="flex justify-center items-center flex-col py-5 px-4 bg-white border rounded-lg"
  >
    <!-- user card -->
    <div
      class="flex flex-col justify-center gap-5 items-center w-full md:max-w-xl lg:max-w-2xl xl:max-w-2xl px-4"
    >
      <!-- image -->
      <div>
        <img
          class="rounded-full shadow-lg border"
          [src]="currentUser.image"
          alt="profile image"
        />
      </div>

      <hr
        class="h-[0.1rem] w-[75%] rounded-lg border-0 bg-gradient-to-r from-violet-700 via-rose-600 to-emerald-500 shadow"
      />

      <!-- details -->
      <div class="flex flex-col gap-3 text-xl font-semibold">
        <div class="flex flex-col">
          <p class="text-sm font-normal text-gray-400">username:</p>
          <p class="">{{ currentUser.username }}</p>
        </div>
        <div *ngIf="currentUser.address.length > 0" class="flex flex-col">
          <p class="text-sm font-normal text-gray-400">address:</p>
          <p class="">{{ currentUser.address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
